<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the <a href="http://www.devmedia.com.br/introducao-ao-framework-ruby-on-rails/31285">My article for beginners</a>
	To get hekp on this sample app, see the
	<a href="http://github.com/nanatt/RUBY-RAILS/RubyonRails/sample_app">Sample app</a>
</p>
