<h1>Listing articles</h1>

<div id="articles">
  <%= render @articles %>
</div>
<br>

<!--You add a link here to add a new article in the application layout; therefore, you no longer need that link on the articles’ index page. Update the app/views/articles/index.html.erb file to remove the new article link.-->